<!-- Error Messages -->
<% @task.errors.full_messages.each do |error| %>
  <p><%= error %> </p>
<% end %>

<!-- Form -->
<div class='form-group align-item-center container border' >
  <%= form_for @task do |f| %>
    <div class='row'>
      <p class='col-4'></p>
      <div class='col-4 text-center' >
        <%= f.label :title, 'Title:' %>
        <%= f.text_field :title, class: 'form-control mb-2', placeholder: 'Title'%>
      </div>
    </div>
    <br>

    <div class='row'>
      <p class='col-4'></p>
      <div class='col-4' align='center'>
        <%= f.label :description, 'Description'%>
        <%= f.text_area :description, class: 'form-control mb-2', rows: '4'%>
      </div>
    </div>

    <br>

    <div class='row'>
      <p class='col-4'></p>
      <div class='col-4' align='center'>
        <strong class='text-center'><%= f.label :priority, 'Priority:' %></strong>
        <%= f.select(:priority, [['Low', 0], ['Medium', 10], ['High', 20]]) %>
      </div>
    </div>

    <br>

    <div class='row'>
      <p class='col-4'></p>
      <div class='col-4' align='center'>
        <strong class='text-center'><%= f.label :share, 'Share:' %></strong>
        <%= f.select(:share, [['Yes', true], ['No', false ]]) %>
      </div>
    </div>

    <br>

     <div class='row'>
      <p class='col-4'></p>
      <div class='col-4' align='center'>
        <strong class='text-center'><%= f.label :status, 'Status:' %></strong>
        <%= f.select(:status, [['Incomplete', 0], ['Complete', 10 ]]) %>
      </div>
    </div>

    <br>

    <div class='row'>
      <p class='col-4'></p>
      <div class='col-4' align='center'>
        <%= f.submit class: 'btn btn-primary col-4', method: :put%>
        <%= link_to 'Go Back', :back, class: 'btn btn-secondary col-4' %>
      </div>
    </div>

  <% end %>
</div>
